# IDE / Tools
/.idea/
/node_modules/

# Entwürfe & Archiv
/work/

# Nicht verwendete Dateien
/css/style.css
/images/favi/
/images/logo-kohlweg-sig.png
/images/logo-schrift-kohlweg.png
/images/sandra-kohlweg.png
/images/ueber-mich.jpg
